/* Layout */
$page-width: 1300px;

/* Colors */
$red: #f94144;
$orange: #f8961e;
$yellow: #f9c74f;
$green: #90be6d;
$green2: #43aa8b;
$blue: #5fa0c9;
$purple: #c8b6ff;
$pink: #ffcbf2;

$gray1: #f2f2f2;
$gray2: #eaeaea;
$gray3: #cdd2d2;
$gray4: #555e5e;